@import "../../../utilities/mixins";

.section {
  // padding-top: 64px;
  // padding-bottom: 64px;
  background-color: var(--background);

  &:nth-child(even) {
    background-color: var(--secondary);
  }
}

#filter-text-box{
  border-radius: 8px;
  border: 3px solid var(--tertiary);
  // margin-top: 16px;
  margin: 16px 0px;
}

.inline{
  max-width:400px;
  margin:auto;
}

.input-icons {
  width: 100%;
}

.magnify-icon {
  position: absolute;
  margin-top: 22px;
  margin-left: 10px;
  padding: 10px;
  min-width: 40px;
  color: var(--tertiary);
}

.filter-icon:hover {
  cursor: pointer;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.input-field:focus{
  outline: 2px solid var(--secondary);
}

.filter-icon {
  position: absolute;
  margin-top: 22px;
  left: calc(50% + 152px); //Kinda hacky
  padding: 10px;
  min-width: 40px;
  color: var(--tertiary);
}

// Responsive
@include responsive(sm) {
  .filter-icon {
    position: absolute;
    margin-top: 22px;
    left: calc(50% + 128px); //Kinda hacky
    padding: 10px;
    min-width: 40px;
    color: var(--tertiary);
  }
}
