<div class="section w3-animate-opacity">
  <div class="container">
    <div class="row">
    <div class="col-12">
      <form class="inline">
        <div class="input-icons">
            <i class="fa-solid fa-magnifying-glass magnify-icon"></i>
            <input type="text" class="input-field" id="filter-text-box" 
            placeholder=""
            [(ngModel)]="searchText"
            name="SearchBox">
            <i class="fa-solid fa-filter filter-icon"></i>
        </div>
      </form>
    </div>
  </div>
  <div *ngFor="let church of churchInfo | churchSearchFilter: searchText">
    <!-- Temporary list view for search troubleshooting -->
    <!-- Replace with church display component once made -->
    <ul>
      <li >{{church.name}}<span><br></span>
        {{church.street}} {{church.city}} {{church.state}} {{church.zipCode}}<span><br></span>
        {{church.website}}<span><br></span>
        {{church.id}}<span><br></span>
        <span><br>----------<br></span></li>
    </ul>
  </div> 
</div>