<!-- Church Display Card Component -->
<div class="church-display-card">
  <a class="row church align-items-center"> 
    <div class="col col-12 col-lg-5 image-container">
      <img src={{this.imageUrl}}>
    </div>
    <div class="col col-12 col-lg-7 text-wrapper secondaryBackground">
      <h2><strong>{{church?.name}}</strong></h2>
      <p><strong>Address:</strong><br>
        {{church?.street}}<br>
        {{church?.city}}, {{church?.state}} {{church?.zipCode}}
      </p>
      <p><strong>Website:</strong><br>
        <a href="{{church?.website}}" target="_blank">{{church?.website}}</a>
      </p>
    </div>
    <div class="col col-12 col-lg-8 text-wrapper text-wrapper--desc secondaryBackground">
      <p class="desc"><strong>Description:</strong><br>
      {{church?.description}}<br><br>
      {{church?.id}}<br></p>
    </div>
    <div class="col col-12 col-lg-4 text-wrapper">
      <primary-button text="Request Driver" data-bs-toggle="modal" [attr.data-bs-target] = "'#' + church?.id + 'modal'"></primary-button>
    </div>
  </a>
</div>


<!-- *ngIf="!isSignedIn" -->
<!-- onGuestSubmit -->
<!-- Guest Time Select Modal -->
<div class="modal fade" id="{{church?.id}}modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Select Pickup Availability</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- WHY ISN'T VALIDATION WORKING?? -->
        <!-- https://getbootstrap.com/docs/5.3/forms/validation/ -->
        <form #servicePost='ngForm' (ngSubmit)="onSubmit(servicePost.value)" class="row">
          <div class="col col-md-12">
            <!-- Inputs -->
            <label for="inputServiceTime" class="form-label">Service Times</label>
            <select class="form-select" id="inputServiceTime" aria-label="select example" name="serviceId" ngModel>
              <option *ngFor="let service of churchServices" [ngValue]=service?.id>{{timeDisplay(service?.startTime)}} ({{service?.description}})</option>
            </select>
          </div>
          <div class="col-md-12"><legend><br>Personal Information</legend></div>
          <div class="col-md-6" *ngIf="!this.isSignedIn">
            <label for="inputFirstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="inputFirstName" required="" name="firstName" ngModel>
          </div>
          <div class="mb-3 col-md-6" *ngIf="!this.isSignedIn">
            <label for="inputLastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="inputLastName" required="" name="lastName" ngModel>
          </div>
          <div class="mb-3 col-md-6" *ngIf="!this.isSignedIn">
            <label for="inputPhoneNumber" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" id="inputPhoneNumber" maxlength="10" required="" name="phoneNumber" ngModel>
          </div>
          <div class="mb-3 col-md-6">
            <label for="inputPersonCount" class="form-label">Person Count</label>
            <input type="number" class="form-control" id="inputPersonCount" required="" name="personCount" ngModel>
          </div>
          <div class="mb-3 col-md-6">
            <label for="inputStreet" class="form-label">Street</label>
            <input type="text" class="form-control" id="inputStreet" required="" name="street" ngModel>
          </div>
          <div class="mb-3 col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="inputCity" required="" name="city" ngModel>
          </div>
          <div class="mb-3 col-md-6">
            <label for="inputState" class="form-label">State</label>
            <input type="text" class="form-control" id="inputState" maxlength="2" required="" name="state" ngModel>
          </div>
          <div class="mb-3 col-md-6">
            <label for="inputZip" class="form-label">Zip Code</label>
            <input type="text" class="form-control" id="inputZip" maxlength="5" required="" name="zipCode" ngModel>
          </div>
          <div class="mb-3 col-md-12">
            <label for="inputDescription" class="form-label">Description</label>
            <input type="text" class="form-control" id="inputDescription" name="description" ngModel>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit" data-bs-dismiss="modal">Request Driver</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
