<!-- Navbar (sticky top) -->
<div class="w3-container w3-padding-16 w3-animate-opacity topNav">
  <div class="w3-row w3-center">
    <div class="w3-col s4">
      <a routerLink="/home">
        <i class="w3-xlarge fa fa-home home">
          <span class="w3-hide-small signInText">Home</span>
        </i>
      </a>
    </div>
    <div class="w3-col s4"><p></p></div>
    <div class="w3-col s4">
      <a routerLink="/sign-up" class="w3-margin-right">
        <i class="w3-xlarge fa fa-car signIn">
          <span class="w3-hide-small signInText">Sign Up</span>
        </i>
      </a>
      <a routerLink="/sign-in">
        <i class="w3-xlarge fa fa-user signIn">
          <span class="w3-hide-small signInText">Sign In</span>
        </i>
      </a>
    </div>
  </div>

    
</div>
  