<!-- Sign Up Choice Page -->
<div class="sign-up-choice-page w3-animate-opacity">
  <div class="container">
    <div class="row gx-lg-5 justify-content-center">
      <div class="col col-12 col-md-6 col-lg-5">
        <a href="/signup/provider" class="choice choice--provider">
          <div class="image-container">
            <img src="/assets/MiniTaxi2.jpg">
          </div>
          <div class="text-wrapper text-wrapper--provider">
            <h2><strong>Become a Ride Provider</strong></h2>
            <p>
              <strong>Ride Providers</strong> are church members who will be providing
              the means of transportation. You can become a Ride Provider by creating
              an !app! account and applying to your corresponding church. Upon approval,
              you will be able to view and accept ride requests.
            </p>
          </div>
        </a>
      </div>
      <div class="col col-12 col-md-6 col-lg-5">
        <a href="/signup/admin" class="choice choice--admin">
          <div class="image-container">
            <img src="/assets/ChurchFront2.jpg">
          </div>
          <div class="text-wrapper text-wrapper--admin">
            <h2><strong>Become a Church Admin</strong></h2>
            <p>
              <strong>Church Admins</strong> are created by church staff. This allows
              the management of details on !app! such as service times, locations, and
              website links. This information is available to both Riders and Ride Providers.
              These Church Admins also manage who can and can't participate as
              Ride Providers for their church.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>