<!-- Sign Up Choice Page -->
<div class="sign-up-choice-page w3-animate-opacity">
  <div class="container">
    <div class="row gx-lg-5 justify-content-center">
      <div class="col col-12 col-md-4 col-lg-4">
        <a href="https://drivers.auth.us-east-2.amazoncognito.com/signup?client_id=igptd8i5uhmar0lllie8pn2hg&response_type=code&scope=email+openid+phone&redirect_uri=http%3A%2F%2Flocalhost%3A8080" class="choice choice--admin">
          <div class="image-container">
            <img src="/assets/Rider.jpg">
          </div>
          <div class="text-wrapper text-wrapper--admin">
            <h2><strong>Become a Rider</strong></h2>
            <p>
              <strong>Riders</strong> are created by those who frequently request rides.
              You don't need to make an account to request a ride, but it makes the process
              easier.
              When you become a <strong>Rider</strong>, you aren't required to retype previously 
              given information (name, address, phone number, etc.) any time you need a ride.
            </p>
          </div>
        </a>
      </div>
      <div class="col col-12 col-md-4 col-lg-4">
        <a href="https://drivers.auth.us-east-2.amazoncognito.com/signup?client_id=igptd8i5uhmar0lllie8pn2hg&response_type=code&scope=email+openid+phone&redirect_uri=http%3A%2F%2Flocalhost%3A8080" class="choice choice--provider">
          <div class="image-container">
            <img src="/assets/MiniTaxi2.jpg">
          </div>
          <div class="text-wrapper text-wrapper--provider">
            <h2><strong>Become a Driver</strong></h2>
            <p>
              <strong>Drivers</strong> are church members who will be providing
              the means of transportation. You can become a Driver by creating
              an !app! account and applying to your corresponding church. Upon approval,
              you will be able to view and accept ride requests.
            </p>
          </div>
        </a>
      </div>
      <div class="col col-12 col-md-4 col-lg-4">
        <a href="https://church-ride-share.auth.us-east-2.amazoncognito.com/signup?client_id=7f0bf0jhgm544f4rimqqmeoqjk&response_type=code&scope=email+openid+phone&redirect_uri=https%3A%2F%2Fmain.d3uai0gomuhytq.amplifyapp.com%2F" class="choice choice--admin">
          <div class="image-container">
            <img src="/assets/ChurchFront2.jpg">
          </div>
          <div class="text-wrapper text-wrapper--admin">
            <h2><strong>Become a Church Admin</strong></h2>
            <p>
              <strong>Church Admins</strong> are created by church staff. This allows
              the management of details on !app! such as service times, locations, and
              website links. This information is available to both Riders and Drivers.
              Church Admins also manage who can and can't participate as
              Drivers for their church.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>