<!-- Sign Up Choice Page -->
<div class="sign-up-choice-page w3-animate-opacity">
    <div class="w3-row w3-center w3-large">
        <div class="w3-col s12 m6">
            <a href="/signup/provider" class="choice choice--provider">
                <img src="/assets/MiniTaxi.jpg">
                <div class="text-wrapper">
                    <h2><strong>Become a Ride Provider</strong></h2>
                    <p>
                        <strong>Ride Providers</strong> are church members who will be providing 
                        the means of transportation. You can become a Ride Provider by creating 
                        an !app! account and applying to your corresponding church. Upon approval, 
                        you will be able to view and accept ride requests.
                    </p>
                </div>
            </a>
        </div>
        <div class="w3-col s12 m6">
            <a href="/signup/admin" class="choice choice--admin">
                <img src="/assets/ChurchFront.jpg">
                <div class="text-wrapper">
                    <h2><strong>Become a Church Admin</strong></h2>
                    <p>
                        <strong>Church Admins</strong> are created by church staff. This allows 
                        the management of details on !app! such as service times, locations, and 
                        website links. This information is available to both Riders and Ride Providers. 
                        These Church Admins also manage who can and can't participate as 
                        Ride Providers for their church.
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>