#search-bar{
  border-radius: 8px;
  border: 3px solid var(--tertiary);
  margin-top: 16px
}

.inline{
  max-width:400px;
  margin:auto;
}
.input-icons i {
  position: absolute;
  margin-top: 22px;
  margin-left: 10px;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
  color: var(--tertiary);
}

i:hover {
  cursor: pointer;
}

.filter-icon {
  margin-left: 10px;
  padding: 10px;
  // padding-left: 23%;
  min-width: 40px;
  color: red;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: left;
  margin: 3px;
  // text-indent: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

// Responsive
@media screen and (max-width: 600px) {
  .input-field {
    width: 100%;
    padding: 10px;
    text-align: left;
    margin: 3px;
    width: auto;
    text-indent: 30px;
  }
}