.driver-page {
  padding-top: 16px;
  padding-bottom: 16px;


  .nav-link {
      color: var(--primary);
  }

  .nav-pills .nav-link.active, 
  .nav-pills .show > .nav-link {
      color: var(--white);
      background-color: var(--primary);
  }

  .btn-primary {
      background-color: var(--primary);
      border-color: var(--primary);
  }
}