@import "utilities/variables";
@import "utilities/mixins";

* {
    box-sizing: border-box;
}


body,h1,h2{
    font-family: 'Noto Sans';
}

h1{
    font-family: 'Playfair Display';
    font-size: 40px;
    color: var(--black);
}

body{
    font-size: 16px; 
    color: var(--black);
}

span{
    font-family: 'Inter';
}

body, html {
    height: 100%;
    background-color: var(--background);
}

p {line-height: 2}

.container{
    max-width: 1100px;
    margin: auto;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    > router-outlet + * {
        flex: 1;
    }
}
