<!-- Sign In Choice Page -->
<div class="sign-up-choice-page w3-animate-opacity">
  <div class="container">
    <div class="row gx-lg-5 justify-content-center">
      <div class="col col-12 col-md-4 col-lg-4">
        <a href={{riderUrl}} class="choice choice--admin">
          <div class="image-container">
            <img src="/assets/Rider.jpg">
          </div>
          <div class="text-wrapper text-wrapper--admin">
            <h2><strong>Rider Sign In</strong></h2>
          </div>
        </a>
      </div>
      <div class="col col-12 col-md-4 col-lg-4">
        <a href={{driverUrl}} class="choice choice--provider">
          <div class="image-container">
            <img src="/assets/MiniTaxi2.jpg">
          </div>
          <div class="text-wrapper text-wrapper--provider">
            <h2><strong>Driver Sign In</strong></h2>
          </div>
        </a>
      </div>
      <div class="col col-12 col-md-4 col-lg-4">
        <a href={{churchUrl}} class="choice choice--admin">
          <div class="image-container">
            <img src="/assets/ChurchFront2.jpg">
          </div>
          <div class="text-wrapper text-wrapper--admin">
            <h2><strong>Church Admin Sign In</strong></h2>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>